# Root EAS Ignore
# Dependencies - EAS Build will install these itself
node_modules/
**/node_modules/

# Other Apps in Monorepo
apps/web/
apps/docs/

# Build artifacts
.next/
.turbo/
dist/
build/
web-build/

# Expo
.expo/
.tamagui/

# Environment
.env*.local

# Native
**/ios/
**/android/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store

# Git
.git/
